body{
    margin: 0;
}

.div1{
    padding: 2rem;
    background-color: rgb(131, 131, 255);
}
.div2{
    padding: 2rem;
    background-color: white;
    border-radius: 2em;
}
.buttonSortear{
    width: 100%;
    background-color: rgb(131, 131, 255);
    border-style: none;
    border-radius: 2em;
    padding : 1rem;
    font-size: large;
    color : white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(96, 96, 185);
}

.numeroSorteado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#numeroSorteado{
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(131, 131, 255);
    width : 30px;
    padding : 1em;
    font-size : 30px;
    color: white;
}

table {
    width: 100%;
text-align: center;
justify-self: center;
}
thead {
background-color: #353535;
font-weight: bold;
}
td , th {
border: 1px solid #000000;
padding: 5px 20px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

#bingo{
    background-color: rgb(131, 131, 255);
    color: white;
}

h2,h1 {
    text-align: center;
}
